main {
	background-color: #008b8b;
	    height: 2117px;
}

.kyowapic img {
	margin-left: 180px;
	margin-top: 100px;
}

.heading h1 {
	font-size: 55px;
	text-align: center;
	margin-top: 100px;
	color: #7fffd4;
	font-family: 'Bangers', cursive;
}

#anyquestion p {
	font-size: 55px;
	text-align: center;
	margin-top: 135px;
	color: #7fffd4;
	margin-bottom: 100px;
	font-family: 'Bangers', cursive;
}

.slider {
	margin-top: 100px;
	text-align: center;
	width: 1656px;
	height: 400px;
}

.slider img {
	width: 30%;
	margin: auto;
	border-radius: 3%;
}

h2 {
	font-size: 55px;
	color: #7fffd4;
	text-align: center;
	margin-top: 110px;
	font-family: 'Bangers', cursive;
}

.thanksform {
	margin: 0;
}

/* ボタンの色つける */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

.btn,
a.btn,
button.btn {
  font-size: 68px;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
  	font-family: 'Bangers', cursive;
  
}

a.btn-flat {
  overflow: hidden;

  padding: 1.5rem 6rem;

  color: #fff;
  border-radius: 0;
  background: #000;
  margin:50px;
  height: 130px;
  width: 350px;
 
  
}

a.btn-flat span {
  position: relative;
}

a.btn-flat:before {
  position: absolute;
  top: 0;
  left: 0;

  width: 150%;
  height: 500%;

  content: "";
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);

  background: #00b7ee;
}

a.btn-flat:hover:before {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}


.btn btn-flat span{
    border: red 2px solid;
	
}














/* 京和さん光らせる
 */
.kiran-img {
	position: relative;
	overflow: hidden;
	margin-left: 180px;
	margin-top: 100px;
}
.kiran-img {
	position    :relative;
	overflow    :hidden;
}
.kiran {
	height:100%;
	width:30px;
	position:absolute;
	top:-180px;
	left:0;
	background-color: #fff;
	opacity:0;
	transform: rotate(45deg);
	animation: reflection 2s ease-in-out infinite;
	-webkit-transform: rotate(45deg);
	-webkit-animation: reflection 2s ease-in-out infinite;
	-moz-transform: rotate(45deg);
	-moz-animation: reflection 2s ease-in-out infinite;
	-ms-transform: rotate(45deg);
	-ms-animation: reflection 2s ease-in-out infinite;
	-o-transform: rotate(45deg);
	-o-animation: reflection 2s ease-in-out infinite;
}
@keyframes reflection {
	0% { transform: scale(0) rotate(45deg); opacity: 0; }
	30% { transform: scale(0) rotate(45deg); opacity: 0.5; }
	31% { transform: scale(4) rotate(45deg); opacity: 1; }
	100% { transform: scale(50) rotate(45deg); opacity: 0; }
}
@-webkit-keyframes reflection {
	0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
	30% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
	31% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
	100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}
@-moz-keyframes reflection {
	0% { -moz-transform: scale(0) rotate(45deg); opacity: 0; }
	30% { -moz-transform: scale(0) rotate(45deg); opacity: 0.5; }
	31% { -moz-transform: scale(4) rotate(45deg); opacity: 1; }
	100% { -moz-transform: scale(50) rotate(45deg); opacity: 0; }
}