main {
	background-color: #008b8b;
	height: 1651px;
	margin: auto;
}

.kyowapic img {
	margin-left: 180px;
	margin-top: 100px;
}

.heading h1 {
	font-size: 55px;
	text-align: center;
	margin-bottom: 20px;
	color: #7fffd4;
}

.heading p {
	font-size: 35px;
	text-align: center;
	margin-top: 50px;
	color: #ff4500;
	margin-bottom: 50px;
}

.slider {
	margin-top: 100px;
	text-align: center;
	width: 1656px;
	height: 400px;
}

.slider img {
	width: 30%;
	margin: auto;
}